@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --vermelho:#e30613;
    --preto:#0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
main{
    width: 100%;
    height: auto;
}
.senai{
    height: 30dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 100px;
    }
}
.login{
    width: 100%;
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
    width: 80%;
    height: 85%;
    border-radius: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.375);
}
label{
    width: 100%;
    height: 2%;
}
input{
    width: 100%;
    margin: 0.2rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.375);
    border: 1px solid lightgray;
}
button{
    background-color: var(--vermelho);
    color: white;
    border: none;
    border-radius: 10px;
    width: 90%;
    height: 17%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.375);
    a{
        text-decoration: none;
        color: white;
    }
}
.form-login{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:450px){
    .senai{
    height: 30dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 80px;
    }
}
    .login{
    width: 100%;
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
    width: 80%;
    height: 85%;
    border-radius: 15%;
}
label{
    width: 100%;
    height: 2%;
}
input{
    width: 100%;
    margin: 0.2rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid lightgray;
}
button{
    background-color: var(--vermelho);
    color: white;
    border: none;
    border-radius: 10px;
    width: 70%;
    height: 35%;
}
.form-login{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

