@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 


    html body{
    min-height: 100vh;
    }
header{
    background-color: #E30613;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 20px 0px;
}
header .descricao-pagina h1{
    color: white;
    font-size: 26px;
}
main{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#meuFormulario {
    height: 0;
    overflow: hidden; 
    padding: 0 20px;
    transition: height 0.4s ease-out, padding 0.4s ease-out, overflow 0s 0.4s;
}

#meuFormulario.expanded {
    height: 480px; 
    overflow: visible; 
    transition: height 0.4s ease-out, padding 0.4s ease-out, overflow 0s 0s;

    padding-top: 20px;
    padding-bottom: 20px;
}

#meuFormulario input[type="text"],
#meuFormulario select,
.input-imagem-container label,
.input-imagem-container {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    display: block; 

}
.input-imagem-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.botao-form {
    width: 100%;
    padding: 15px;
    background-color: #e31821;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}
.linha{
    width: 100%;
    height: 1px;
    animation: linha 3s ;
    background-color: #000;
    margin: 20px;
    box-shadow: 0px 2px 2px 0px;
}
#historico{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f1f602;
    width: 90%;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
}
.cards .descri-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}