@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 
}
body{
    height: auto;
    width: 100%;
}
.navbar{
    display: flex;
    width: 100%;
    height: 8dvh;
    background-color: #E30613;
    border-bottom: 2px solid black;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.433);
    ul{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        li{
            list-style: none;
            color: white;
            a{
                text-decoration: none;
                color: white;
            }
            i{
                font-size: 2rem;
            }
        }
    }
}
section{
    height: 10dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
div{
    height: 50%;
    width: 10%;
    background-color: lightgray;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E30613;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}